@import "tailwindcss";

@theme {

    /* Fonts */

    --font-display: "Gopher", serif;
    --font-body: "PT Sans", sans-serif;
    --font-ui: "DM Sans", sans-serif;

    /* Colors */

    --color-beige: #E2D6CA;
    --color-brown: #460B13;

}

html, body {
    background-color: var(--color-beige);
    color: var(--color-marrom);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased; /* Deixa as fontes suaves como no Figma */
    margin: 0;
    padding: 0;
}