@import "tailwindcss";

@theme {

    /* Fonts */

    --font-display: "Gopher", serif;
    --font-body: "PT Sans", sans-serif;
    --font-ui: "DM Sans", sans-serif;

    /* Colors */
    --color-primary-dark: #460B13;
    --color-primary-light: #E2D6CA;
    --color-divider-dark: #7CCED6;
    --color-divider-light: #72BCB6;
    --color-services: #117068
    
}

html, body {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased; /* Deixa as fontes suaves como no Figma */
    margin: 0;
    padding: 0;
}